@{
    ViewBag.Title = "Dias da Semana";
}

<h2>Digite um número para ver o dia da semana:</h2>

<form method="post" asp-action="ObterDia" >
    <input type="text" name="indice" placeholder="0 a 6" />
    <button type="submit">Enviar</button>
</form>

@if (ViewBag.DiaEscolhido != null)
{
    <p>Resultado: @ViewBag.DiaEscolhido</p>
}
